<div class="col-xs-10 col-xs-offset-1 about">
	<h1> About Splurty</h1>

	<p> 
		Splurty for Iowans was built by <a target="_blank" href="http://github.com/titanium-cranium">Brendan O'Brien</a>, a newbie to the programming world currently enrolled in a cutting edge web developer bootcamp known as <a target="_blank" href="http://thefirehoseproject.com">The Firehose Project.</a>  

		<br />
		<br />
	</p>

<div class="col-xs-12 col-sm-4">
	<%= image_tag 'obrien_image.jpg', :class => 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
	<h2 class="text-center">Brendan J. O'Brien</h2>
	<br />
	<p>
		Brendan is a well known visual neuroscientist with a long list of publications in scientific journals aimed at understanding how the retina works, and how vision can be recovered in the blind using a Bionic Eye. Recently, he's branched out and 
		started his own company <a target="_blank" href="http://titanium-cranium.com">Titanium Cranium Enterprises</a> to publish his works of <a target="_blank" href="http://www.amazon.com/-/e/B00Q5XS2CO">fiction</a> and will soon also be hacking away at his trusty MacBook building applications for the web.  
		<br />
		<br />
		 <center><i>"Creating worlds for mind and machine alike."</i></center>  
	</p>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />

