<!-- Changed design midstream but didn't update names of the database yet -->

<!-- This is the basic title, common to every page -->
<h1>
	<span> Splurty No. <%= @quote.unique_tag %></span> &nbsp;&nbsp;  You might be an Iowan if...<h1>
	<br />

<!-- This is now the saying  -->
<h2> <center> <%= @quote.author%> </center> </h2> 
	<br />
<!-- This is now the author/contributor field -->
<h3 class="pull-right">- <%= @quote.saying%> </h3> 


<br class="clear" />
<br />
<br />
<br />
 
