<!-- Changed design midstream but didn't update names of the database yet -->

<!-- This is the basic title, common to every page -->
<h1> You might be an Iowan if...<h1>

<!-- This is now the saying  -->
<h2> <center> <%= @quote.author%> </center> </h2> 

<!-- This is now the author/contributor field -->
<h3> <%= @quote.saying%> </h3> 
 
